header form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.with-aside {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.grid-sec {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(180px, 1fr));
  gap: 16px;
}

.with-aside aside {
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}

.side-gif-module {
  width: 100%;
}

.card-gifs {
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
}

.card-gifs img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.link-btn {
  color: #fff;
  background-color: #445069;
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 10px 25px;
  transition: .3s ease;
  display: inline-block;
}

.link-btn:hover {
  background-color: #252B48;
  text-decoration: none;
}